<!doctype html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ocupaci贸 Bicing</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.11.0/metricsgraphics.js"></script>
</head>
<body>
<h1>Ocupaci贸 Bicing</h1>
<div id="kek"></div>
<div id="lol"></div>
<script>
(function () {
    'use strict';

    d3.csv('stations/123', function(data) {
        var parsed = [];
        data.forEach(function (t) {
            parsed.push({"date": new Date(t.timestamp*1000), "value": t.bikes});
        });

        console.log(parsed);

        MG.data_graphic({
            title: "Estaci贸 123",
            data: parsed,
            width: 600,
            height: 200,
            max_y: 16,
            color: '#E3001B',
            right: 4,
            target: '#kek',
            legend_target: '.legend'
        });
    });

    d3.csv('stations/234', function(data) {
        var parsed = [];
        data.forEach(function (t) {
            parsed.push({"date": new Date(t.timestamp*1000), "value": t.bikes});
        });

        console.log(parsed);

        MG.data_graphic({
            title: "Estaci贸 234",
            data: parsed,
            width: 600,
            height: 200,
            max_y: 16,
            right: 4,
            color: '#E3001B',
            missing_is_hidden: true,
            target: '#lol',
            legend_target: '.legend'
        });
    });
})();
</script>
</body>
</html>
